

h1 {
  margin-top: 40px;
}
#loading {
  display: none;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 5s linear;
}

.puff {
	padding: 3px;
}

.pinteresty {
	flex-flow: column wrap;
}

.titles {
	height: 70px;
}